html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
}

.page {
  witdh: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
}

.leftBox {
  width: 1100px;
  height: 600px;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 50px 100px rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: left;
}

.rightBox {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*border-style: dashed;*/
}

#titleBar {
  width: 100%;
  height: 10%;
}

#titleBar h1 {
  margin-top: 100px;
  margin-left: 10px;
  font-weight: 800;
  float: left;
  color: #ef6c00;
  font-family: Verdana;
}

#titleBar h2 {
  margin-top: -22px;
  margin-left: 30px;
  float: left;
}

#contentMain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textMain {
  margin-bottom: 50px;
}

#textMain h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-left: 10px;
}

#textMain p {
  color: rgb(0,0,0,0.5);
  margin-bottom: 40px;
  margin-top: -5px;
  margin-left: 10px;
}

#link {
  color: rgb(0,0,0,0.5);
  margin-bottom: 40px;
  margin-top: -5px;
}

#button {
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: #fe864c;
  padding: 10px 20px;
  /*border: 2px solid #fe864c;*/
}

#bildMain {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.berlin.de/imgscaler/SF_NrnO0XZi3X7qdRbPdI5d3pT3FV7j95mlXMK3eltk/r1zu1/L3N5czExLXByb2QvZm90b2xpYS9hbmRlcmUvZm90b2xpYV81NTA0MDQxMF9zdWJzY3JpcHRpb25fbW9udGhseV94eGwuanBn.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

main {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding: 5px;
  /*border-style: dotted;*/
}

section {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  align-items: center;
  /*border-style: dotted;*/
}

#label {
  text-align: right;
  color: #ef6c00;
  /*border-style: dotted;*/
}

footer {
  color: 	#808080;
  margin-left: 10px;
  /*border-style: dotted;*/
}

.toggle-buttons {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  grid-template-columns: 200px 200px;
  grid-template-rows: 120px 120px 120px;
  margin-left: 40px;
}
.toggle-buttons input[type="radio"] {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.toggle-buttons label {
  border: 2px solid #fe864c;
  border-radius: 0.5em;
  padding-left: 20px;
  padding-top: 20px;
}

.toggle-buttons input:checked + label {
  background: #fe864c;
  color: white;
  box-shadow: none;
}

input:hover + label,
input:focus + label {
  background: lightgrey;
}

.NavBar {
  margin-left: 0px;
  margin-top: 5px;
}

.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fe864c;

}

.NavBar li {
  float: left;
  padding: 10px;
}

.NavBar li a {
  display: inline;
  color: white;
  text-align: center;
  text-decoration: none;
}

.NavBar li a:hover {
  background-color: #ef6c00;
}

a:hover {
 cursor:pointer;
}

.leftBoxResult {
  width: 1100px;
  height: 600px;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 50px 100px rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: lightgrey;
}

.rightBoxResult {
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*border-style: dashed;*/
  background-color: white;
}

#charts {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 450px;
  display: block;
}

#chartsText {
  margin-top: 25px;
  color: grey;
  font-family: Verdana;
  font-size: 14px;
}

.legend {
  list-style: none;
}

.legend li {
  float: left; margin-right: 20px;
  /*border-style: dashed;*/
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 20px;
  height: 12px;
  margin: 5px;
}

.legend .partei1 {
  background-color: yellow;
}
.legend .partei2 {
  background-color: orange;
}
.legend .partei3 {
  background-color: red;
}
.legend .partei4 {
  background-color: darkred;
}
.legend .partei5 {
  background-color: grey;
}
.legend .partei6 {
  background-color: black;
}

#filter {
  margin-top: -20px;
  font-weight: 600;
  text-decoration: none;
  padding: 5px 5px;
  display: grid;
  grid-gap: 0px;
  border-radius: 5px;
  color: #ef6c00;
  width: 35%;
}

#filterText {
  margin-left: 10px;
  font-weight: 200;
  font-size: 14px;
  color: #ef6c00;
  font-family: Verdana;
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn10, #btn11, #btn12, #btn13 {
  border-color: #fe864c;
  background-color: #fe864a;
  border-radius: 10px;
  padding: 2px;
  border-style: double;
  margin: 5px;
  width: 350px;
}

#btn0, #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9, #btn10, #btn11, #btn12, #btn13{
  transition-duration: 1s;
}

#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover, #btn4:hover, #btn5:hover, #btn6:hover, #btn7:hover, #btn8:hover, #btn9:hover, #btn10hover, #btn11:hover, #btn12:hover, #btn13:hover {
  background-color: white;
  color: #ef6c00;
}
