html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Calibri', sans-serif;
}

.page {
  witdh: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F1;
}

.leftBox {
  width: 1100px;
  height: 600px;
  background-color: white;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 50px 100px rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  justify-content: left;
}

.rightBox {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /*border-style: dashed;*/
}

#titleBar {
  width: 100%;
  height: 10%;
}

#titleBar h1 {
  margin-top: 100px;
  margin-left: 10px;
  font-weight: 800;
  float: left;
  color: #ef6c00;
  font-family: Verdana;
}

#titleBar h2 {
  margin-top: -22px;
  margin-left: 30px;
  float: left;
}

#contentMain {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#textMain {
  margin-bottom: 50px;
}

#textMain h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-left: 10px;
}

#textMain p {
  color: rgb(0,0,0,0.5);
  margin-bottom: 40px;
  margin-top: -5px;
  margin-left: 10px;
}

#link {
  color: rgb(0,0,0,0.5);
  margin-bottom: 40px;
  margin-top: -5px;
}

#button {
  font-weight: 600;
  color: white;
  text-decoration: none;
  background-color: #fe864c;
  padding: 10px 20px;
  /*border: 2px solid #fe864c;*/
}

#bildMain {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.berlin.de/imgscaler/SF_NrnO0XZi3X7qdRbPdI5d3pT3FV7j95mlXMK3eltk/r1zu1/L3N5czExLXByb2QvZm90b2xpYS9hbmRlcmUvZm90b2xpYV81NTA0MDQxMF9zdWJzY3JpcHRpb25fbW9udGhseV94eGwuanBn.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

main {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 10px;
  padding: 5px;
  /*border-style: dotted;*/
}

section {
  display: grid;
  grid-auto-flow: row;
  grid-row-gap: 20px;
  align-items: center;
  /*border-style: dotted;*/
}

#label {
  text-align: right;
  color: #ef6c00;
  /*border-style: dotted;*/
}

footer {
  color: 	#808080;
  margin-left: 10px;
  /*border-style: dotted;*/
}

.toggle-buttons {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 10px;
  grid-template-columns: 200px 200px;
  grid-template-rows: 120px 120px 120px;
  margin-left: 40px;
}
.toggle-buttons input[type="radio"] {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
.toggle-buttons label {
  border: 2px solid #fe864c;
  border-radius: 0.5em;
  padding-left: 20px;
  padding-top: 20px;
}

.toggle-buttons input:checked + label {
  background: #fe864c;
  color: white;
  box-shadow: none;
}

input:hover + label,
input:focus + label {
  background: lightgrey;
}

.NavBar {
  margin-left: 0px;
  margin-top: 5px;
}
.NavBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fe864c;
}

.NavBar li {
  float: left;
}

.NavBar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavBar li a:hover {
  background-color: #ef6c00;
}

#container {
  margin: 0;
  padding 0;
  width: 200px;
  height: 200px;
}

a:hover {
 cursor:pointer;
}
